:root {
    --cor-Principal: #003C8F;
    --cor-Secundaria: #1565C0;
    --amarelo: #FFAB40;
    --branco: #F5EEEE;
    --cinza: #D9D9D9;
  
    --font-family: 'Poppins', sans-serif;
  }

main{
    background-color: var(--branco);
    grid-area: main;
}

h1{
    font-family: var(--font-family);
}

main .entrada{
    margin: 3rem auto;
    background-color: var(--amarelo);
    flex-grow: 1;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    width: 90%;
}

main .acoes{
    width: 70%;
    display:flex;
    flex-direction: column;
    gap: 30px;
}

main .acoes form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 1.2rem;
}

main .campos{
    display: flex;
    height: 20px;
    margin: 10px;
}

main .cadastroInformacoes{
    width: 300px;
    text-align: right;
}

main .entradaDeDados{
    width: auto;
    margin-left: 50px;
}

main .entradaDeDados input, main .entradaDeDados select{
    width: 100%;
    font-size: 1.1rem;
}

main .enviar input{
    display: flex;
    width: 150px;
    margin: auto;
    align-items: center;
    justify-content:center;
    padding: 10px;
    background-color: var(--amarelo);
    font-family: var(--font-family);
    cursor: pointer;
    transition: 1s;
}

main .enviar input:hover{
    background-color: var(--cor-Principal);
    color: var(--branco);
}

main .vagas{
    background-color: var(--amarelo);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main .vagas .titulo{
    font-weight: bolder;
}

main .vagas tbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .vagas tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    font-size: 1.2rem;
}

.ultimoVeiculo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 3rem auto;
    box-shadow: 2px 2px 10px black;
    background-color: var(--cor-Secundaria); 
    padding: 20px; 
}

.ultimoVeiculo table{
    align-items: center;
    text-align: center;
}

.ultimo{
    width: 100%;
    user-select: none;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.ultimo th{
    height: 50px;
    padding: 20px;
    text-align: center;
    font-size: 1.3rem;    
    width: 250px;
    font-family: var(--font-family);
    color: var(--branco);
}

.resultadoUltimoVeiculo td{
    background-color: var(--branco);
    color: black;
    padding: 20px;
    text-align: center;
    width: 250px;
    font-size: 1.3rem;
    font-family: var(--font-family);
    height: 50px;
}

.tituloInfo{
    color: var(--branco);
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: bold;
}
