@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --cor-Principal: #003C8F;
    --cor-Secundaria: #1565C0;
    --amarelo: #FFAB40;
    --branco: #F5EEEE;
  
    --font-family: 'Poppins', sans-serif;
  }

body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-auto-columns: 200px 1fr;
    grid-auto-rows: 130px 1fr;
    grid-template-areas: 
        "aside header"
        "aside main"
    ;
}

header{
    background-color: var(--cor-Principal);
    grid-area: header;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}
