:root {
    --cor-Principal: #003C8F;
    --cor-Secundaria: #1565C0;
    --amarelo: #FFAB40;
    --branco: #F5EEEE;
  
    --font-family: 'Poppins', sans-serif;
}

main{
    background-color: var(--branco);
}

main .camposPesquisa{
    background-color: var(--cor-Secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: .8rem;
}

main .camposPesquisa input{
    width: 80%;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    font-family: var(--font-family);
    font-size: 1.5rem;
}

section.veiculos{
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    overflow-y: scroll;
    max-height: 1000px;
    width: 70%;
    margin: 3rem auto;
    text-align: left;
    box-shadow: 2px 2px 10px black;
}

section.veiculos .finalizar{
    background-color: var(--amarelo);
    font-size: 1.2rem;
    font-family: var(--font-family);
    font-weight: semi bolder;
    padding-right: 3rem;
    padding-left: 3rem;
    height: 3rem;
}

section.veiculos .tblVeiculos{
    width: 100%;
    padding: 50px 20px;
}

section.veiculos th{
    font-size: 1.3rem;
    font-family: var(--font-family);
    
}

section.veiculos td{
    font-size: 1.1rem;
    font-family: var(--font-family);
}

